# http://editorconfig.org

root = true

[*]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true
charset = utf-8
end_of_line = lf
max_line_length = 88

[*.py]
max_line_length = 120

[*.{yml, html, xml, xsl, json}]
indent_size = 2

[*.{css, less}]
indent_size = 2

[*.dot]
indent_style = tab
indent_size = 1
insert_final_newline = false
