name: CI
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  dist:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
      - run: uvx --from build pyproject-build --sdist --wheel
      - run: uvx twine check dist/*
      - uses: actions/upload-artifact@v6
        with:
          path: dist/*
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - run: sudo apt-get install -y gettext graphviz
      - uses: astral-sh/setup-uv@v7
      - run: uv run --group docs sphinx-build -W -b doctest -b spelling -b html docs docs/_build
  PyTest:
    needs:
      - dist
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
          - "3.14"
        django-version:
          - "5.2"
        extras:
          - ""
        include:
          - python-version: "3.13"
            django-version: "5.2"
            extras: "--extra dramatiq"
          - python-version: "3.13"
            django-version: "5.2"
            extras: "--extra celery"
          - python-version: "3.13"
            django-version: "5.2"
            extras: "--extra reversion"
          - python-version: "3.13"
            django-version: "5.2"
            extras: "--extra graphviz --extra dramatiq"
    steps:
      - uses: actions/checkout@v6
      - run: sudo apt install -y graphviz redis-server
      - uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python-version }}
      - run: uv run ${{ matrix.extras }} --with Django~=${{ matrix.django-version }}.0 pytest
      - uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: python-${{ matrix.python-version }}-django-${{ matrix.django-version }}
