name: CI
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v6
        with:
          python-version: "3.x"
      - run: sudo apt install -y python3-enchant graphviz
      - run: python -m pip install sphinxcontrib-spelling
      - run: python -m pip install -e '.[docs]'
      - run: python -m sphinx -W -b spelling docs docs/_build
  dist:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v6
        with:
          python-version: "3.x"
      - run: python -m pip install --upgrade pip build wheel twine readme-renderer
      - run: python -m build --sdist --wheel
      - run: python -m twine check dist/*
  PyTest:
    needs:
      - dist
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
          - "3.14"
        django-version:
          - "5.2"
        extras:
          - "test"
        include:
          - python-version: "3.x"
            django-version: "5.2"
            extras: "test,dramatiq"
          - python-version: "3.x"
            django-version: "5.2"
            extras: "test,celery"
          - python-version: "3.x"
            django-version: "5.2"
            extras: "test,reversion"
          - python-version: "3.x"
            django-version: "5.2"
            extras: "test,graphviz,dramatiq"
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - run: sudo apt install -y graphviz redis-server
      - run: python -m pip install "django==${{ matrix.django-version }}.*"
      - run: python -m pip install -e .[${{ matrix.extras }}]
      - run: python -m pytest
      - uses: codecov/codecov-action@v5
